@charset "UTF-8";
/*

  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web

*/
/* (Opcional) Aquí definimos las Custom properties */
:root {
  /* Colores */
  --color-main-black: #393939;
  
  /* Tipografía */
  --font-f-main: Helvetica, Arial, sans-serif;
}

/* (Opcional) Las adaptamos al modo oscuro */
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-main-black: #ececec;
  }
} */
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* 
@media (prefers-contrast: high){
  :root{}
} 
*/
  
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
/* 
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
} 
  */
/* Reseteamos los margin y paddings de todas las etiquetas */
* , *::before , *::after{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
*::before , *::after{
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */ -o-object-fit: cover;
  /* (Opcional) */ object-fit: cover;
  /* (Opcional) */ -o-object-position: center center;
  /* (Opcional) */ object-position: center center;
}

/* Anchors: Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li , menu, summary {
  list-style: none;
}
/* Evita que listas anidadas sigan numerando desde el padre en Firefox. */
ol{
  counter-reset: revert;
}
/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  text-decoration: none;
  color: inherit;
}
pre, code{
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}


/* (Opcional): Configuramos el texto que seleccionamos */
/* ::-moz-selection {
  background-color: var(--color-main-black);
  color: var(--blanco);
}
::selection {
  background-color: var(--color-main-black);
  color: var(--blanco);
} */

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */ -webkit-hyphens: auto;
  /* (Opcional) */ -ms-hyphens: auto;
  /* (Opcional) */ hyphens: auto;
  /* (Opcional) */ -webkit-appearance: none;
  /* (Opcional) */ -moz-appearance: none;
  /* (Opcional) */ appearance: none;
}
/* Elimina el color predeterminado de los placeholders */
::placeholder {
  color: unset;
}
/* Reseteamos las tablas */
table, tr, td , th, thead, tbody, tfoot{
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
p svg{
  display: inline;
  width: initial;
}
/* Corrige un bug en Chrome para contenteditable */
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}
/* Hace que los elementos arrastrables se comporten correctamente en Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--font-f-main);
  color: var(--color-main-black);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}