@charset "UTF-8";

:root {
  font-size : 100% ;                  
  font-family: system-ui, sans-serif; 
  scroll-behavior : smooth ;          
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}
*::before , *::after{
  display: block;
}
img, picture, video, iframe, figure , canvas{
  max-width: 100%;
  width: 100%;
  display: block;
  height: initial;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font: inherit;
}
p a {
  display: inline;
}
li , menu, summary {
  list-style: none;
}
ol{
  counter-reset: revert;
}
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em, mark, del, pre, code {
  font:inherit;
  color: inherit;
  text-decoration: none;
  text-wrap: pretty;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
form, input, textarea, select, button, label {
  font:inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}
textarea {
  white-space: pre-wrap;
}
button {
  all: unset;
  cursor: pointer;
}
::placeholder {
  color: unset;
}
table, tr, td , th, thead, tbody, tfoot{
  border-collapse: collapse;
  border-spacing: 0;
  font:inherit;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
p svg{
  display: inline;
  width: initial;
}
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

body {
  min-height: 100vh;
  color:inherit;
  line-height: 1.5em;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}